<div class="contenedor">
  <div class="hijo">

    <form action="/tools" method="get">
        <div class="mb-3">
            <label for="premium" class="form-label">slug</label>
            <input type="slug" name="slug" class="form-control" id="slug" aria-describedby="slug">
        </div>
        <button type="submit" class="btn btn-primary">Remover Premium</button>
    </form> 
    <br>
    <br>
    <label for="prueba" name="prueba" class="form-label"> <%=@msj%> </label>
  </div>
</div>
